footer{
    padding-block: 24px; 
    font: 14px/150% var(--font-family);
    color: var(--text-color-secondary);
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.copyright{
    text-align: center;
}

.footer-links{
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* Desktop: copyright à esquerda, links à direita */
@media (min-width: 768px) {
    .footer-content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .copyright{
        text-align: left;
    }
    
    .footer-links{
        justify-content: flex-end;
    }
}

footer a{
    color: var(--text-color-secondary);
    text-decoration: none;
}

footer a:hover{
    color: var(--brand-color);
    text-decoration: underline;
}
